@import "bootstrap";

.edit-profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
   .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .profile-index {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .paginate {
    nav {
        display: inline-block;
    }
  }

  .btn-design .btn-dark {
    width: 60%;
  }